---

---

<div class="logo">
    <img src="./terrenos comerciales SGE.svg" alt="" class="w-full h-full">
</div>
<div class="header">
    <div class="header-title">
        <div class="letters text-5xl md:text-6xl lg:text-[260px]">
            <div>T</div>
            <div>E</div>
            <div>R</div>
            <div>R</div>
            <div>E</div>
            <div>N</div>
            <div>O</div>
            <div>S</div>
        </div>
    </div>
    <div class="header-subtitle">
        <div class="comerciales text-4xl md:text-5xl lg:text-[150px]">
            <div>C</div>
            <div>O</div>
            <div>M</div>
            <div>E</div>
            <div>R</div>
            <div>C</div>
            <div>I</div>
            <div>A</div>
            <div>L</div>
            <div>E</div>
            <div>S</div>
        </div>
    </div>
</div>


