---
import { MapView } from "./MapView";
---

<div id="location" class="mt-20 h-[80vh]">
    <div class="bg-slate-200 flex items-center justify-center">
        <div class="w-full h-full">
            <MapView client:load />
        </div>
    </div>
    <div class="relative px-28 flex flex-col justify-center">
        <h3 class="font-bold text-5xl">Conoce tu entorno</h3>
        <ul class="mt-10 text-2xl space-y-5 text-[#0F172A]">
            <li>Complejos industriales, <span class="font-semibold">Filiales de las plantas armadoras</span></li>
            <li>Escuelas de educación básica, media y universidades <span class="font-semibold">(UAA y UPA CAMPUS SUR)</span></li>
            <li>Centros comerciales, hoteles de 4 y 5 estrellas, ciudad, <span class="font-semibold">Parques, bancos, tiendas de autoservicio y conveniencia</span></li>
            <li>Población de clientes potenciales por el desarrollo habitacional de <span class="font-semibold">aproximadamente 10,000 personas y con una proyección a 25,000</span></li>
          </ul>
    </div>
</div>

<style>
	#location {
        /* background: #13151a; */
		display: grid;
		grid-template-columns: 750px 1fr;/*La primer columna 350px lo demas 1 fracción */
	}
</style>