---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css' rel='stylesheet' />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

	html {
		overscroll-behavior: none;
	}

	::-webkit-scrollbar {
		display: none;
	}

	html, body {
		font-family: "Montserrat", sans-serif;
		height: 100%;
	}

	h1 {
		font-size: 80px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: -0.02em;
	}

	.logo {
		position: fixed;
		top: 0;
		left: 0;
		margin: 2em;
		width: 208px;
		height: auto;
		z-index: 10000;
	}

	@media (max-width: 768px) {
        .logo {
            margin: 1em;
            width: 150px; /* Reduce el ancho a 150px en dispositivos pequeños */
        }
    }

	.header {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		z-index: 2;
	}

	.letters, .comerciales {
		display: flex;
		text-transform: uppercase;
	}

	.letters > div, .comerciales > div {
		flex: 1;
		/* font-size: 150px; */
		font-weight: 400;
		line-height: 0.8;
		color: #463f43;
		text-align: center;
	}

	/* .letters > div {
		font-size: 260px;
	} */

	.website-content {
		position: fixed;
		top: 0;
		/* width: 100%;
		min-height: 100vh; */
	}

	.img-holder {
		position: relative;
		/* width: 100%;
		height: 100vh; */
		background: #fff;
		clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
		transform: rotate(30deg);
	}

	.img-holder img {
		position: relative;
		transform: scale(2);
	}

	.content-holder {
		position: relative;
		width: 100%;
		background: #f7f7ff;
		padding: 1em;
	}

	.row {
		margin: 2em 1em;
	}

	.img {
		width: 200px;
		height: 275px;
	}

	.collage {
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(5, 1fr);

		grid-gap: 10px;
	}

	.collage-item1 {
		background-image: url("/interior-shot-cafe-with-chairs-near-bar-with-wooden-tables.jpg");
		background-size: cover;
		background-position: center;
		grid-column: 1/4;
		grid-row: 1/2;
	}

	.collage-item2 {
		background-image: url("/don-gotera-imagen-2-64efac06d87fd.webp");
		background-size: cover;
		background-position: center;
		grid-column: 1/2;
		grid-row: 2/5;
	}

	.collage-item3 {
		background-image: url("/interior-restaurante.jpg");
		background-size: cover;
		background-position: center;
		grid-column: 1/5;
		grid-row: 5/5;
	}

	.collage-item4 {
		background-image: url("/322787126.jpg");
		background-size: cover;
		background-position: center;
		grid-column: 2/4;
		grid-row: 2/5;
	}

	.collage-item5 {
		background-image: url("/198.jpg");
		background-size: cover;
		background-position: center;
		grid-column: 4/6;
		grid-row: 1/3;
	}

	.collage-item6 {
		background-image: url("/frigorifico-comida.jpg");
		background-size: cover;
		background-position: center;
		grid-column: 4/5;
		grid-row: 3/5;
	}

	.collage-item7 {
		background-image: url("/empty-drugstore-with-bottles-packages-full-with-medicaments-retail-shop-shelves-with-pharmaceutical-products-pharmacy-space-filled-with-medical-drugs-pills-vitamins-boxes.jpg");
		background-size: cover;
		background-position: center;
		grid-column: 5/6;
		grid-row: 3/6;
	}

	.collage-item8 {
		background-image: url("/1.jpeg");
		background-size: cover;
		background-position: center;
		grid-column: 6/8;
		grid-row: 1/6;
	}
</style>

